<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong> Add Category Form</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="addCategoryForm">
          <div class="form-group">
            <label for="company">Category Name</label>
            <input class="form-control" id="company"
             formControlName="category_name" 
             placeholder="Category Name" type="text">

          </div>
        <p style="color:red; font-size:12px" 
          class="error" 
          *ngIf="addCategoryForm.controls['category_name'].hasError('required') && isSubmited">
           Category Name Required
          </p>
          <p style="color:red; font-size:12px" 
          class="error" 
          *ngIf="addCategoryForm.controls['category_name'].hasError('minlength') && isSubmited">
          Min Length 3
            </p>
          <div class="form-group">
            <button class="
             btn btn-color " 
            (click)="addtext()"><i class="fa fa-plus"></i>Sub Category</button>

          </div>

          <div class="form-group" 
          formArrayName="sub_category" 
          *ngFor="let item of addCategoryForm.get('sub_category').controls; let i = index;"
            style="padding:5px">

            <div [formGroupName]="i" 
            class="row">
              <div class="col-sm-10">
                <input class="form-control"
                 formControlName="name" 
                 placeholder="Sub Category Name">
              </div>
              <div class="col-sm-2">

                <button (click)="deleteRow(i)" 
                class="btn btn-link fa fa-trash " 
                style="color:red"></button>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-color"
             type="submit" 
            
             (click)="add()">
              ADD
            </button>
            <button class="btn btn-back pull-right"
            type="button" 
            [routerLink]="['/auth/category']"
            style="background-color: #2f353a;color:white">
            BACK
           </button> 
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>