.card-header{
    background-color:  #2f353a;
    color:white
}
.example-chip-list {
    width: 100%;
  }

  .test{
      min-width: 100px;
      margin-left: 30px;
      margin-top: 20px;
      position: relative
  }

  .btn-color {
    color: #fff;
    background-color: forestgreen;
    border-color: forestgreen;
}
:host /deep/ .ui-multiselect{
    display: -webkit-box;
    
}