<!-- Dialog for add brand -->
<p-dialog [(visible)]="display" [width]="600" [responsive]="true" 
[modal]="true" [dismissableMask]="true" [autoZIndex]>
  <p-header>
    <strong style=" font-size: 20px">Add Brand </strong>
  </p-header>
  <form [formGroup]="brandForm" (ngSubmit)="addbrand()" method="post">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label style=" font-size: 18px">Brand</label>
          <input class="form-control" 
           formControlName="brand" 
           placeholder="Enter Brand" 
           type="text">
        </div>
      </div>
      <p style="color:red; font-size:12px" 
        class="error" 
        *ngIf="brandForm.controls['brand'].hasError('required')
        && isSubmited">
        Brand Required
      </p>
      <p style="color:red; font-size:12px" 
        class="error" 
        *ngIf="brandForm.controls['brand'].hasError('minlength')
        && isSubmited">
        Min Length 3
      </p>
    </div>
    <Button type="submit" class="btn btn-color">
      <i class="fa fa-plus"></i>Add</Button>
  </form>
</p-dialog>

<!-- Dialoge for edit brand -->
<p-dialog [(visible)]="editdisplay" 
[width]="600" 
[responsive]="true" 
[modal]="true" 
[dismissableMask]="true" 
[autoZIndex]>
  <p-header>
    <strong style=" font-size: 20px">Update Brand </strong>
  </p-header>
  <form [formGroup]="brandForm" (ngSubmit)="updatebrand()">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label style=" font-size: 18px;
                ">Brand</label>
          <input class="form-control"  formControlName="brand" placeholder="Enter Brand" type="text">
        </div>
      </div>
      <p style="color:red; font-size:12px" 
      class="error" 
      *ngIf="brandForm.controls['brand'].hasError('required')
      && isSubmited">
      Brand Required
              </p>
              <p style="color:red; font-size:12px" 
              class="error" 
              *ngIf="brandForm.controls['brand'].hasError('minlength')
      && isSubmited">
                Min Length 3
              </p>
    </div>
    <Button type="submit" class="btn btn-color">
      <i class="fa fa-plus"></i>Update</Button>
  </form>
</p-dialog>


<!-- <p-dialog [(visible)]="editdisplay">
  <p-header>
    Update Brand
  </p-header>
  <form [formGroup]="brandForm" (ngSubmit)="updatebrand()" >
    <input type="text" formControlName="brand" placeholder="Enter Brand" />
    <button type="submit">Update</button>
  </form>
  <p-footer>
  </p-footer>
</p-dialog> -->

<!-- delete confirmation popup -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

<!--listing   -->

<div class="row" style="padding-bottom:10px">
  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
      <input class="form-control" style="border:1px solid lightgray" [(ngModel)]="searchText" id="input2-group2" name="input2-group2"
        placeholder="Search by Brand" type="text" (ngModelChange)="searchtext()">

    </div>
    <i style="color: red" *ngIf="showSpaceErr">space not allowed!!! </i>
  </div>
  <div class="col-sm-6">
    <Button class="btn btn-color pull-right" (click)="showDialog()">
      <i class="fa fa-plus"></i> Add</Button>
  </div>
</div>


<div class="row ">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Brand List </strong>

      </div>
      <div class="card-body">
        <!-- <h3 class="card-title">CMS Pages</h3>
            <h6 class="card-sub1title">This is basic cms page listing</h6> -->
        <div class="tableLayout">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Brand</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let page of brands | paginate: { 
            itemsPerPage: 5,
            currentPage: p,
            totalItems: totalItems };let i=index">
                <td scope="row">{{i+1}}</td>
                <td>{{page.title}}</td>


                <td>
                    <div style="position:absolute">
                  <a class="fa fa-pencil " style="color:black; padding-right:10px" (click)="showEditDialog(page._id)"></a>
                  <button class="fa fa-trash btn btn-link" style="color:red" (click)="delete(page._id)"></button>
</div>
                </td>
              </tr>

            </tbody>
          </table>
          <pagination-controls (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true" responsive="true"
            previousLabel="Previous" nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>