<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" ></p-confirmDialog>
<div class="row"  style="padding-bottom:10px">
  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
      <input class="form-control" style="border:1px solid lightgray" [(ngModel)]="searchText" id="input2-group2" name="input2-group2"
        placeholder="Search by Size" type="text" (ngModelChange)="searchtext()">

    </div>
    <i style="color: red" *ngIf="showSpaceErr">space not allowed!!! </i>
  </div>
  <div class="col-sm-6">
    <Button  class="btn btn-color pull-right" [routerLink]="['/auth/product/addsize']"><i class="fa fa-plus"></i> Add</Button>    
    </div>
</div>


<div class="row " >
<div class="col-12">
  <div class="card">
      <div class="card-header">
          <strong>Size List </strong>
       
        </div>
    <div class="card-body">
      <!-- <h3 class="card-title">CMS Pages</h3>
            <h6 class="card-sub1title">This is basic cms page listing</h6> -->
      <div class="tableLayout">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Size</th>
              <th scope="col">Length</th>
              <th scope="col">Width</th>
              <th scope="col">Type</th>
              <th scope = "col">Category</th>
              <th scope = "col">Sub Category</th>
             
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let page of size | paginate: { 
            itemsPerPage: 5,
            currentPage: p,
            totalItems: totalItems };let i=index">
              <td scope="row">{{i+1}}</td>
             <td>{{page.sizeName}}</td>
             <td>{{page.measurement[i-i].sizeValue}}</td>
             <td>{{page.measurement[i+1-i].sizeValue}}</td>
             <td>{{page.measurement[i-i].sizetype}}</td>
             <td>{{page.Category.title}}</td>
             <td>{{page.subCategory.title}}</td>
             
             <!-- <td>
              <span *ngIf="page.status == true" class="badge badge-success">Active</span>
              <span *ngIf="page.status == false" class="badge badge-danger">In-Active</span>
            </td> -->
             <td>
              <a class="fa fa-pencil " style="color:black; padding-right:10px" [routerLink] = "['/auth/product/editsize',page._id]" ></a>
              <button class="fa fa-trash btn btn-link" style="color:red" (click)="delete(page._id)" ></button>
             
            </td>
            </tr> 

          </tbody>
        </table>
        <pagination-controls  
              (pageChange)="pageChanged($event)"
              maxSize="9"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              previousLabel="Previous"
              nextLabel="Next">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
</div>