.back-btn{
    color: #fff;
    background-color: darkslategray;
    border-color: black;
    width: 64px;
    height: 35px;
    border-radius: 20px;
}

.card-header{
    background-color:  #2f353a;
    color:white
}
.btn-color {
    color: #fff;
    background-color: forestgreen;
    border-color: forestgreen;
}