<div class="container">
  <div class="row"style="padding-top:40px">

 
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11" style="color: black;
  height: 500px;
  border: groove;
  text-align: center;
  padding-top: 40px;
  background-color: cadetblue;
">
    <h1 style="color:red">Thank You!!</h1>
    <h3>Your Reset password link has been sent to your Registered email address.</h3>
    <a class=" btn btn-link" style="color:blue; padding-right:10px" [routerLink]="['/login']">
      Click here to return to login page
     </a>
  </div>
</div>
</div>